

  .slide-wrapper, li {
    list-style: none;
  }
  
  /* スライドの外枠 */
  .slide-wrapper {  
    margin: auto;
    position: relative;/*要素の現在位置を基準に配置*/
    overflow: hidden; /* はみ出したスライドを隠す */
  }
  /*スライド全体 */
  .slide { 
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 0.3s;/*スライドする速度*/
  }
  .slide div { /* スライドの中*/
    width: 33.33%;/*一枚当たりの幅*/
    height: 100%;
  }

  .slide div img {
    width: 100%;
}

  .slide1 { /* スライド１枚目 */
    transform: translateX(0);
  }
  .slide2 { /* スライド２枚目（1/3移動）*/
    transform: translateX(-33.33%);
  }
  .slide3 { /* スライド３枚目　2/3移動*/
    transform: translateX(-66.66%);
  }

  /* 右ボタン */
  .next {
    position: absolute;
    right: 0px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
  }

   /* 左ボタン */
  .prev {
    position: absolute;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
  }

  /*インジケーター */
  .indicator {
    width: 100%;
    position: absolute;
    bottom: 50px;
    right: 16px;
    display: flex;
    column-gap: 18px;/*・の間隔*/
    z-index: 10;
    justify-content: center;/*フレックスボックスの子要素を中央揃え*/
  }

  /*・の部分*/
  .indicator li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    list-style: none;
    background-color: #fff;
    border: 2px #ffffff solid;
    cursor: pointer;
  }

  /*一番目の・*/
  .indicator li:first-of-type {
    background-color: #000;
  }